body {
    display: flex;
    justify-content: center;
}
.input {
    margin: 0;
    position: absolute;
    width: 85%;
    height: 100%;
    font-size: 200px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
}
.dark {
    background-color: black;
    color: #e6e6e6;
}
.wpmdisp {
    display: inline-block;
    position: fixed;
    font-family: "Lato";
    bottom: 10px;
    width: 10%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    align-items: center;
}
.wpm {
    position: relative;
    bottom: -1vw;
    visibility: hidden;
    font-size: 6vw;
    font-style: italic;
}
.wpmstat {
    visibility: hidden;
    bottom: 17px;
    left: 48%;
    font-size: 1.8vw;
}
.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
